.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: calc(100% - 48px)/3;
  }
  
  .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-link {
    display: flex;
    justify-content: center;
  }
  
  .gallery-link {
    display: block;
    text-decoration: none;
  }
  
  .gallery-image {
    width: 380px;
  }
  
  .gallery-image:focus {
    width: 1280px;
  }


